.room-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 145px;
  width: 1fr;
  @include cubicShadow($primary-color);

  h3 {
    margin-bottom: 10px;
  }

  button {
    position: absolute;
    left: 68%;
    bottom: 55%;
  }
}

.user-card {
  margin: 20px;
  @include cubicShadow($primary-color);
}