.login-page {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: xx-large;
    margin-bottom: 0px;
  }

  h2 {
    font-size: large;
  }

  input {
    margin: 10px;
    font-size: medium;
    border: 0px transparent;
    border-bottom: 2px dotted grey;
  }
  
  button {
    background-color: transparent;
    border: 0px transparent;
    font-size: xx-large;
  }
}