.room-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 175px;
  width: 1fr;
  @include cubicShadow($primary-color);

  button {
    position: absolute;
    left: 68%;
    bottom: 55%;
  }
}