.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 300px auto auto;
}

aside {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  margin: 20px;
  box-shadow: -10px -10px 0px $secondary-color;
  border: 2px solid $secondary-color;
  padding: 10px 25px;
}

.main__section__report {
  margin: 20px;
  @include cubicShadow(black);
}

.main__section__user-search {
  margin: 20px;
  @include cubicShadow(grey);
}

.booking-card {
  border: 1px solid $secondary-color;
  margin: 10px 0px;
  padding: 8px 8px;
}

.user-card {
  margin: 20px;
  @include cubicShadow($primary-color);
}

@media screen and (max-width: 970px) {
  main {
    grid-column: 1 / 6;
  }

  aside {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}
